{% extends 'base.html' %}

<!--

  <h1>I'm an index page.</h1>

  {% for post in posts %}
    <div>
      <h3><a href ="/post/{{post.slug}}">{{ post.title }}</a></h3>
      <p>{{ post.summary }}</p>
    </div>
  {% endfor %}
  <br><br><br>
  <a href="/about">about</a>


-->

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1> Welcome to MyBlog </h1>
            </div>

        </div>
        <div class = "row justify-content-md-center">
            {% for post in posts %}
              <div class="col-md-auto">
                  <div class="card card-image" style="background-image:url({{post.image.url}});">
                      <div class="card-body">
                          <div class="card-text d-flex align-items-center justify-content-center py-5">
                              <h3><a href="/post/{{ post.slug }}">  {{ post.title }} </a> </h3>
                          </div>
                      </div>
                      <p>{{ post.summary }}</p>
                  </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
